
@font-face {
    font-family: Data;
    src: url('../fonts/data-latin.ttf');
}

body {
  font-family: Avenir, Helvetica, sans-serif;
  color: white;
  background: url('../img/background.jpg') no-repeat center center fixed;
  background-size: cover;
  cursor:default;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

span#chronotime {
  font-family: Data;
  font-size: 5em;
  opacity: 0.7;
}

span#subtitle {
  font-style: italic;
  font-size: 0.9em;
  opacity: 0.7;
}

table#savedTimes {
  font-size: 1.5em;
  border-collapse: collapse;
}

table#savedTimes td:first-child {
  text-align: right;
}

table#savedTimes td:first-child, table#savedTimes td:nth-child(2) {
  width: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
}

table#savedTimes td:first-child {
  border-right: 1px solid white;
}

table#savedTimes td:nth-child(3) {
  font-size: 0.8em;
  color:red;
}

table#savedTimes td:hover:nth-child(3) {
  color:white;
}

div#console {
  font-size: 1.2em;
  color: red;
}

footer {
  margin-top: 3em;
  margin-bottom: 1em;
}
