
@font-face {
    font-family: Data;
    src: url('../fonts/data-latin.ttf');
}

body {
  font-family: Avenir, Helvetica, sans-serif;
  color: white;
  background: url('../img/background.jpg') no-repeat center center fixed;
  background-size: cover;
  height:100%; overflow: hidden; /* prevents scrolling */
  cursor:default;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

div#forkme {
  position: absolute;
  right: 0; /* with position:absolute you can't use float:right, so this does the trick */
  width: 50px;
  margin-top: 1em; margin-right: 1em;
}

img#github-logo {
  opacity: 0.5;
}

img#github-logo:hover {
  opacity: 0.9;
}

p#forkmemsg {
  padding: 0; margin: 0;
  visibility: hidden;
  text-align: center;
  font-size: 0.8em;
}

span#chronotime {
  font-family: Data;
  font-size: 5em;
  opacity: 0.7;
}

span#subtitle {
  font-style: italic;
  font-size: 0.9em;
  opacity: 0.7;
}

div#scroll {
  width: 20em;
  height: 20em;
  overflow-y: scroll;
  overflow: hidden;
}

table#savedTimes {
  font-size: 1.5em;
  border-collapse: collapse;
}

table#savedTimes td:first-child {
  text-align: right;
}

table#savedTimes td:first-child, table#savedTimes td:nth-child(2) {
  width: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
}

table#savedTimes td:first-child {
  border-right: 1px solid white;
}

table#savedTimes td:nth-child(3) {
  font-size: 0.8em;
  color:red;
}

table#savedTimes td:hover:nth-child(3) {
  color:white;
}

div#console {
  font-size: 1.2em;
  color: red;
}

footer {
  margin-top: 5em;
  margin-bottom: 1em;
}
