
@font-face {
    font-family: Digital;
    src: url('./fonts/digital.ttf');
}
@font-face {
    font-family: Roboto;
    src: url('./fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: Roboto-Light;
    src: url('./fonts/Roboto-Light.ttf');
}

body {
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
    user-select: none;         /* Prevents  */
    -webkit-user-select: none; /* selection */
}

.sidenav {
    height: 100%;
    width: 20rem;
    background-color: #F5F7FA;
    color: #434A54;
    position: fixed;
    transition: .2s;
    overflow-x: hidden;
}

.sidenav h5, .sidenav .solve {
    padding: 1rem;
}

.sidenav .session-name { 
    text-align:right;
    cursor:pointer;
    margin:0
}

.sidenav .session-name:hover { 
    background-color: #CCD1D9;
}


.delete-session {
    display: none;
    float: left;
    color: #ED5565;
}

.sidenav .session-name:hover .delete-session {
    display: inline;
}

.sidenav .active {
    background-color: #AAB2BD;
    color: white;
}

.sidenav .solve {
    text-align: right;
}

.btn {
    border-radius: 0;
}

#main .btn i {
    font-size: 150%;
}

#main {
    transition: margin-left .2s;
    margin-left: 20rem;
}

#toucharea {
    width: 100%;
    height: 100%;
    /*position: fixed;
    display: inline-block;
    z-index: -1;*/
}

#solves .solve {
    text-align: center;
    font-family: Digital;
}

#scramble {
    width: 100%;
    padding: 2em;
    text-align: center;
    font-style: italic;
    font-size: 1.2em;
    color: rgba(101,109,120, .9);
}

#stats table {
    width: 100%;
    font-style: italic;
    color: #5D9CEC;
}

#stats table td {
    width: 50%;
    padding: .5em;
}

#stats table td:first-of-type {
    text-align: right;
}