
@font-face {
    font-family: Data;
    src: url('../fonts/data-latin.ttf');
}

html {
  height: 100%;
}

body {
  font-family: Avenir, Helvetica, sans-serif;
  color: white;
  background: url('../img/background.jpg') no-repeat center center fixed;
  background-size: cover;
  height:100%; overflow: hidden; /* prevents scrolling */
  margin: 0;
  cursor:default;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

div#forkme {
  position: absolute;
  right: 0; /* with position:absolute you can't use float:right, so this does the trick */
  width: 50px;
  margin-top: 10pt; margin-right: 40pt;
  font-size: 45pt;
}

#github-logo {
  opacity: 0.5;
}

#github-logo:hover {
  opacity: 0.9;
}

#settingsIcon {
  opacity: 0.5;
  margin-top: 5pt;
  margin-bottom: 5pt;
  font-size: 45pt;
}

#settingsIcon:hover {
  opacity: 0.9;
}


div#settingsBox {
  position: absolute;
  left: 0;
  width: 140pt;
  text-align: center;
  margin: 12pt 0 0 12pt;
}

div#settings {
  width: 100%;
  font-style: italic;
  font-size: 11pt;
  opacity: 0;
  padding: 0;
}

div#settings div {
  width: 100%;
  padding: 6pt;
  border: 1px solid white;
  margin-bottom: 6pt;
  overflow:hidden;
  transition: 0.3s;
}

div#settings div:hover {
  background-color: white;
  color: black;
  transition: 0.3s;
}

div#settings div {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

div#settings input, div#settings label {
    cursor: pointer;
}

div#settings div input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20pt;
    opacity: 0;
    filter: alpha(opacity=0);
}

p#forkmemsg {
  padding: 0; margin: 0;
  visibility: hidden;
  text-align: center;
  font-size: 10pt;
}

div#chronotime {
  width: 500pt;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Data;
  font-size: 90pt;
  opacity: 0.85;
}

span#subtitle {
  font-style: italic;
  font-size: 10pt;
  opacity: 0.7;
}

span#scramble {
  font-style: italic;
  font-size: 15pt;
  opacity: 0.7;
}

div#scores, div#history {
  display: inline-block;
  width: 150pt;
  text-align: center;
  vertical-align: text-top; /* I want to marry this line */
}

div#history {
  margin-left: 21pt;
}

div#scores p {
  font-size: 14pt;
  font-style: italic;
}

div#scroll-parent {
  width: 200pt;
  height: 200pt;
  overflow: hidden;
}

div#scroll-child {
  width: 100%;
  height: 99%;
  overflow-y: scroll;
  overflow: auto;
  padding-right: 40pt; /* hides scroll-bar: increase this value for crossbrowser compatibility */
}

table#times-table {
  border-collapse: collapse;
  font-size: 15pt;
}

table#times-table td:first-child {
  text-align: right;
}

table#times-table td:first-child {
  width: 17pt;
  padding-right: 11pt;
}

table#times-table td:nth-child(2) {
  width: 17pt;
  padding-left: 11pt;
  padding-right: 11pt;
}

table#times-table td:first-child {
  border-right: 1px solid white;
}

table#times-table td:nth-child(3) img {
  width: 15pt;
}

table#times-table td:nth-child(3) {
  font-size: 10pt;
  opacity: 0.75;
}

table#times-table td:hover:nth-child(3) {
  color:white;
  opacity: 1;
}

div#solvesManager {
  height: 40pt;
  margin-top: 10pt;
}

.select2-results__option {
  color: black;
}

select#solveNames {
  width: 100pt;
  color: black;
}

img#add-button {
  vertical-align: middle;
  background-color: rgba(0, 255, 0, 0.6);
  margin-right: 10pt;
  opacity: 0.85;
  border-radius: 3pt;
}

img#del-button {
  vertical-align: middle;
  background-color: rgba(255, 0, 0, 0.6);
  margin-left: 10pt;
  opacity: 0.85;
  border-radius: 3pt;
}

input#newSolveText {
  margin-right: 10pt;
}

p#pressEnterToSaveSolveClass {
  opacity: 0.6;
  font-style: italic;
}

div#console {
  font-size: 14pt;
  color: red;
}
